#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

#animationInfo {
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    bottom: 46%;
    right: 18%;
}

#list {
    font-size: xx-large;
    /* font-weight: bold; */
    /* margin-right: 30%;  */
    position: absolute;
    left: 2%;   
}